:host ::ng-deep input{
    padding: 3px;
}
.input-container{
    margin: 0px 20px;
}
.label-title
{
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 0.7em;
font-weight: 600;
line-height: 1.3em;
}

