
@font-face {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  src: url(/src/assets/fonts/bnpp-sans.woff);
  font-weight: 300;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: Arial, Helvetica, sans-serif;
  src: url(/src/assets/fonts/bnpp-sans.woff);
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "BNPPSans";
  src: url(/src/assets/fonts/bnpp-sans-bold.woff);
  font-weight: 700;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "BNPPSansCondensed";
  src: url(/src/assets/fonts/bnpp-sans-cond-light-v2.woff);
  font-weight: 300;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "BNPPSansCondensed";
  src: url(/src/assets/fonts/bnpp-sans-cond-v2.woff);
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "BNPPSansCondensed";
  src: url(/src/assets/fonts/bnpp-sans-cond-bold-v2.woff);
  font-weight: 700;
  font-style: normal;
  font-stretch: normal; }

/* BNPP Square */
@font-face {
  font-family: "BNPPSquare";
  src: url(/src/assets/fonts/bnpp-square-light-v3.woff);
  font-weight: 300;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "BNPPSquare";
  src: url(/src/assets/fonts/bnpp-square-regular-v3.woff);
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "BNPPSquare";
  src: url(/src/assets/fonts/bnpp-square-bold-v3.woff);
  font-weight: 700;
  font-style: normal;
  font-stretch: normal; }

/* BNPP Rounded */

@font-face {
  font-family: "BNPPRounded";
  src: url(/src/assets/fonts/bnpp-rounded-v2.woff);
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }

/* Open Sans */
@font-face {
  font-family: "Open-Sans";
  src: url(/src/assets/fonts/Open-Sans-regular.woff);
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "Open-Sans";
  src: url(/src/assets/fonts/Open-Sans-600.woff);
  font-weight: 600;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "Open-Sans";
  src: url(/src/assets/fonts/Open-Sans-700.woff);
  font-weight: 700;
  font-style: normal;
  font-stretch: normal; }
  @font-face {
    font-family: "Open-Sans";
    src: url(/src/assets/fonts/Open-Sans-italic.woff);
    font-weight: 400;
    font-style: italic;
    font-stretch: normal; }