@import './fonts';



$bnp-font: Arial, Helvetica, sans-serif;
$rounded-font:"BNPPRounded";
$parme: rgba(145,42,97,0.8);
$primary-color:rgb(88, 88, 88);
$vert: rgba(0, 109, 67, 0.8) ;
$disabled-background:rgba(242,242,242,0.7);
$disabled-foreground:rgba(103,103,103,1);