
input.mat-input-element{
margin-top: 0%;
}
.mat-icon
{
    color: rgba(145,42,97,0.8);;
}
.margin-right
{
    margin-right: 5px;
    cursor: pointer;
}

.margin-left
{
    margin-left: 5px;
    cursor: pointer;
}

.div-bordered
{
    border: 2px solid rgba(145,42,97,0.8);
}