<div class="back">
<div class="form-container">
  <div class="title">IMPULSION</div>
  <div fxLayout="column" fxLayoutGap="25px">
    <div>
      <step-progress>
      </step-progress>
    </div>
    <div>
      Formulaire d'adhésion

      <div class="italic left-justified">
        Vérifiez et complétez les données ci-dessous . Elles sont indispensables à la constitution de votre contrat BNP
        Paribas Factor
      </div>
      <div>
        <h5>
          Informations relatives à votre entreprise
        </h5>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="space-between">

      <div fxFlex="0 1 calc(33.3% - 10px)">
        <labelled-input labelContent="Siren">
          <input class="sourced-input" type="text" />
        </labelled-input>
      </div>
      <div fxFlex="0 1 calc(33.3% - 10px)">
        <labelled-input labelContent="Date de constitution">
          <picker-custom></picker-custom>
        </labelled-input>
      </div>
      <div fxFlex="0 1 calc(33.3% - 10px)">
        <labelled-input labelContent="Statut juridique">
          <input type="text" />
        </labelled-input>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between">

      <div fxFlex="0 1 calc(33.3% - 10px)">
        <labelled-input labelContent="Dénomination sociale">
          <input type="text" />
        </labelled-input>
      </div>
      <div fxFlex="0 1 calc(33.3% - 10px)">
        <labelled-input labelContent="Dénomination commerciale">
          <input type="text" />
        </labelled-input>
      </div>

      <div fxFlex="0 1 calc(33.3% - 10px)">
        <labelled-input labelContent="">
          <div></div>
        </labelled-input>
      </div>
    </div>



    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-around">

      <div fxFlex="0 1 calc(33.3% - 10px)">
        <labelled-input labelContent="Capital social">
          <select-custom placeHolder="Ex: 50 000"></select-custom>
        </labelled-input>
      </div>
      <div fxFlex="0 1 calc(33.3% - 10px)">
        <labelled-input labelContent="Dernier CA enregistré (CA n-1)">
          <select-custom placeHolder="Ex: 10 000,00"></select-custom>
        </labelled-input>
      </div>

      <div fxFlex="0 1 calc(33.3% - 10px)">
        <labelled-input labelContent="">
          <div></div>
        </labelled-input>
      </div>
    </div>

    <div class="row-cont" fxLayout="row">
      <labelled-input labelContent="IBAN de votre entreprise">
        <iban-input></iban-input>
      </labelled-input>
    </div>
    <div class="row-cont" fxLayout="row">
      <labelled-input labelContent="BIC de votre entreprise">
        <input type="text" maxlength="13" placeholder="-------------">
      </labelled-input>
    </div>
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between">
      <div fxFlex="0 1 calc(33% - 10px)" class="row-cont" fxLayout="row">
        <labelled-input labelContent="Adresse Professionnelle">
          <search-address></search-address>
        </labelled-input>
      </div>
      <div fxFlex="0 1 calc(20% - 10px)">
        <labelled-input labelContent="">
          <div></div>
        </labelled-input>
      </div>
      <div fxFlex="0 1 calc(33% - 10px)">
        <app-input-with-check></app-input-with-check>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between">

        <div fxFlex="0 1 calc(50% - 10px)">
          <labelled-input labelContent="Etes-vous actuellement en relation contractuelle avec une autre Société d'affacturage">
           <toggle-label></toggle-label>
          </labelled-input>
        </div>
        <div fxFlex="0 1 calc(33.3% - 10px)">
          <labelled-input labelContent="Votre entreprise est-elle affiliée à un groupe">
              <toggle-label></toggle-label>
          </labelled-input>
        </div>
      </div>
      <div class="just-border"></div>
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between">

          <div fxFlex="0 1 calc(66.6% - 10px)">
              <labelled-input labelContent="">
                  <div></div>
                 </labelled-input>
          </div>
          <div fxFlex="0 1 calc(33.3% - 10px)">
           <div fxLayout="row" fxLayoutAlign="space-around">
              <button mat-raised-button>Retour</button>
              <button mat-raised-button color="primary">Continuer</button>
           </div>
          </div>
        </div>
  </div>
</div>
</div>