<div class="auto-margin" fxLayout="row" fxLayoutGap="2px" fxLayoutAlign="space-evenly">
  <input style="width: 40px;margin-right: 2px" maxlength="4" type="text" placeholder="FR- -">
  <input style="width: 70px;margin-right: 2px" maxlength=4 type="text" placeholder="- - - -">
  <input style="width: 70px;margin-right: 2px" maxlength=4 type="text" placeholder="- - - -">
  <input style="width: 70px;margin-right: 2px" maxlength=4 type="text" placeholder="- - - -">
  <input style="width: 70px;margin-right: 2px" maxlength=4 type="text" placeholder="- - - -">
  <input style="width: 70px;margin-right: 2px" maxlength=4 type="text" placeholder="- - - -">
  <input style="width: 40px;margin-right: 2px" maxlength="2" type="text" placeholder="- -">
</div>